
<div class="text-center">
<h1 class="text-center">Welcome</h1>
<h2>Web Mad Doctors - Web MD!</h2>

<img src="http://cdn.playbuzz.com/cdn/c7698a60-82a3-4ef2-890a-71588859cbd8/4c261a58-977c-4869-8f02-eb00842ecc12_560_420.jpg" alt="nurse image">


<div class="well well-lg">
Try it Yourself »

<h3>Wow! You're sick!  It's probably cancer!</h3>
<p>
	Come test the knowledge of our experts!  We are NEVER wrong!
</p>
<p>
	Our panel of experts will give you a specific amout of time!
</p>
<h3>OMG Do you want to KNOW???</h3>
</div>
<img class="img-thumbnail" src="http://kingofwallpapers.com/pills/pills-008.jpg" alt="pills">
</div>