<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Web MD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
    </head>
    <body>
    	<div class="container">
    		<%- body %>
    		<hr>
            <div class="text-center">
    		<a href="/" class="btn-lg btn-primary">Home</a>
    		<a href="/diseases" class="btn-lg btn-warning">Diseases</a>
    		<a href="/symptoms" class="btn-lg btn-warning">Symptoms</a>
            <a href="/diseases/add" class="btn-lg btn-success">Invent Disease</a>
            <a href="/symptoms/add" class="btn btn-info">Enter Symptom</a>
    	</div>
        </div>
        
        <script src="js/main.js"></script>
    </body>
</html>