<form method="post" action="/diseases">
	<div class="form-group">
		<label for="">Name</label>
		<input type="text" name="name" placeholder="Type disease name here" class="form-control">
	</div>
	<div class="form-group">
		<label for="">Description</label>
		<textarea name="description" class="form-control"></textarea>
		<input type="submit" class="btn-lg">
	</div>
	<div class="form-group">
		<label for="">Severity</label>
		<input type="number" name="severity" placeholder="Is it bad, Doc?" class="form-control">
	</div>
	<div class="form-group">
		<label for="">Transmission</label>
		<input type="text" name="transmission" placeholder="Type symptoms here" class="form-control">
	</div>
	<input type="submit" class="btn btn-sucess">
</form>
