
<img src="http://i.dailymail.co.uk/i/pix/2013/07/01/article-2352727-0EE42FA200000578-317_634x533.jpg" alt="mcDreamy">
<div class="text-center">
	<h1>Disease List</h1>
	<h2>pretty sure you have all of these</h2>
	<% diseases.forEach(function(d){ %>
		<a href="/diseases/<%= d.id %>">
		<h3 class="text-danger">
		<%= d.name %> 
		</h3>
		</a>
	<% }) %>
</div>