<div class="text-center">
	<h1>Disease List</h1>
	<h2>pretty sure you have all of these</h2>
	<% diseases.forEach(function(d){ %>
		<a href="/diseases/<%= d.id %>">
		<h3 class="text-danger">
		<%= d.name %> 
		</h3>
		</a>
	<% }) %>
</div>